/*nhóm các khu vực chưa input box*/
.group-input-area {
  width: 100%;
  display: flex;
  flex-direction: row;
}
/*khu vực chưa các input box*/
.group-input-area .input-area {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 12px;
}

.input-group {
  display: flex;
  flex-direction: column;
  height: 52px;
  padding-bottom: 6px;
  width: 246px;
}
.input-group input {
  height: 24px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  padding: 10px 16px;
  font-size: 13px;
}
.input-group input:focus {
  outline: none !important;
  border: 1px solid #019160 !important;
}
.input-group select {
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  padding: 9px 16px;
}
.input-group select {
  outline: none !important;
  border: 1px solid #019160;
}

.input-required {
  position: relative;
  left: 10px;
  white-space: pre;
  width: 65%;
  padding: 5px 5px;
  background-color: red;
  color: white;
  height: 22px;
}
